html {
    background-image: url("./Relation.jpg");
    background-repeat: no-repeat;
    background-size: 74%;
    background-position-x: center;
    background-color: green;
}

body>p {
    width: 24%;
    font-family: 'Tangerine', cursive;
    position: absolute;
    text-align: center;
    left: 38%;
    top: 10%;
    font-size: 5rem;
    font-weight: 900;
    color: darkblue;
}

div {
    position: absolute;
    left: 90%;
    top: 78%;
    font-size: 40px;
    color: lime;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div>img {
    position: absolute;
    top: 70%;
    width: 7rem;
}

.tran {
    transition: transform 0.3s ease;
}
.tran:hover {
    transform: scale(1.5);
}